name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -Dwarnings

jobs:

  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install tree
        run: sudo apt-get install tree
      - name: "Cache cargo registry/index/build"
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - name: Tree
        run: tree -a target
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --verbose

  clippy:
    name: "Clippy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install tree
        run: sudo apt-get install tree
      - name: "Cache cargo registry/index/build"
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-clippy-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-clippy-
      - name: Tree
        run: tree -a target
      - run: rustup component add clippy
      - name: Clippy
        run: CARGO_LOG=cargo::core::compiler::fingerprint=info cargo clippy --workspace --tests -vvv
      # - name: Tree2
      #   run: tree target
      - name: Clippy2
        run: CARGO_LOG=cargo::core::compiler::fingerprint=info cargo clippy --workspace --tests --verbose

  # fmt:
  #   name: "Format"
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - run: rustup component add rustfmt
  #     - run: cargo fmt --all -- --check
